:root {
  --sans-serif: "League Spartan", sans-serif;
}
.container {
  color: #2c363f;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
}
#about {
  text-align: center;
  grid-area: about;
  font-family: var(--sans-serif);
  font-weight: 400;
  padding: 5%;
  box-sizing: border-box;
}
#work {
  text-align: center;
  grid-area: work;
  font-family: var(--sans-serif);
  font-weight: 400;
  padding: 5%;
}
#resume {
  text-align: center;
  grid-area: resume;
  font-family: var(--sans-serif);
  font-weight: 400;
  padding: 5%;
}
#contact {
  text-align: center;
  grid-area: contact;
  font-family: var(--sans-serif);
  font-weight: 400;
  padding: 5% 0;
}
#image-area {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  padding-bottom: 45%;
}
#text-area {
  text-align: right;
  display: flex;
  font-family: var(--sans-serif);
  font-size: 3em;
  font-weight: 400;
  padding: 10% 5% 5% 9ch;
  max-width: 65ch;
}
#title {
  text-align: center;
  display: flexbox;
  font-size: 4em;
  font-weight: 500;
  font-family: var(--sans-serif);
  padding-top: 6%;
}
#home-btn {
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  text-shadow: 10px 5px 15px #2c363f97;
  font-family: var(--sans-serif);
}
html {
  background-color: #f2f5ea;
}
.nav-div {
  text-shadow: 10px 5px 15px #2c363f97;
  font-size: 2em;
}
.nav-div:hover {
  animation-name: scale;
  animation-duration: 1s;
}
#home-btn:hover {
  animation-name: scale;
  animation-duration: 1s;
}
@keyframes scale {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@media only screen and (max-width: 768px) {
  * {
    font-size: 90%;
    padding-top: 2%;
  }
  #text-area {
    padding: 1px;
    justify-content: center;
    text-align: center;
  }
}
@media only screen and (max-width: 1024px) {
  * {
    padding-top: 1%;
  }
}