.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 4em 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  color: #2C363F;
  grid-template-areas:
    "about work resume contact"
    ". title- title- ."
    "image-area image-area text-area- text-area-"
    "image-area image-area text-area- text-area-"
    ". . . .";
}
:root {
  --sans-serif: 'League Spartan', sans-serif;
}
.about {
  text-align: center;
  grid-area: about;
  font-family: var(--sans-serif);
  font-size: 2em;
  font-weight: 400;
}

.work {
  text-align: center;
  grid-area: work;
  font-family: var(--sans-serif);
  font-size: 2em;
  font-weight: 400;
}

.resume {
  text-align: center;
  grid-area: resume;
  font-family: var(--sans-serif);
  font-size: 2em;
  font-weight: 400;
}

.contact {
  text-align: center;
  grid-area: contact;
  font-family: var(--sans-serif);
  font-size: 2em;
  font-weight: 400;
}

.image-area {
  text-align: center;
  grid-area: image-area;
}

.text-area- {
  text-align: right;
  grid-area: text-area-;
  font-family: var(--sans-serif);
  font-size: 3em;
  font-weight: 400;
}

.title- {
  text-align: center;
  grid-area: title-;
  font-size: 4em;
  font-weight: 500;
  font-family: var(--sans-serif);
}
html {
  background-color: #F2F5EA;
}